useDynLib(spmeshed, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(rlang, .data)
importFrom(magrittr, "%>%")
importFrom(magrittr, "%<>%")
importFrom(magrittr, "%$%")

export("meshed", "summary_list_mean", "summary_list_q")